body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* border: solid red 3px; */
    align-items: center;

}
.title {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    /* border: solid blue 3px; */
}
.game-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;

}

.box {
  background: grey;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.reset-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: gold;
    border: solid purple 2px;
    margin-top: 50px;
}